@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
	opacity: 0;
	transition: all 0.5s ease-out;
}

.swiper .swiper-button-prev {
	transform: translateX(-10rem);
}

.swiper:hover .swiper-button-prev {
	transform: translateX(0);
}

.swiper .swiper-button-next {
	transform: translateX(10rem);
}

.swiper:hover .swiper-button-next {
	transform: translateX(0);
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
	opacity: 1;
}

@media (max-width: 900px) {
	.container {
		padding: 0 8px;
	}
	.swiper {
		height: 600px;
	}
}

@media (max-width: 600px) {
	.container {
		padding: 0 8px;
	}

	.logo {
		width: 50px;
		height: 50px;
	}

	.swiper {
		height: 300px;
	}

	.slogan {
		display: none;
	}

	nav {
		grid-column: 2/ -1;
	}
}

/* HTML: <div class="loader"></div> */
.loader {
	--w: 10ch;
	font-weight: bold;
	font-family: monospace;
	font-size: 30px;
	letter-spacing: var(--w);
	width: var(--w);
	overflow: hidden;
	white-space: nowrap;
	text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0,
		calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0, calc(-5 * var(--w)) 0,
		calc(-6 * var(--w)) 0, calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0,
		calc(-9 * var(--w)) 0;
	animation: l16 2s infinite;
}
.loader:before {
	content: "Loading...";
}
@keyframes l16 {
	20% {
		text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
			calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0 #ffa516,
			calc(-5 * var(--w)) 0 #63fff4, calc(-6 * var(--w)) 0, calc(-7 * var(--w)) 0,
			calc(-8 * var(--w)) 0 green, calc(-9 * var(--w)) 0;
	}
	40% {
		text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
			calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
			calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0 orange,
			calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green, calc(-9 * var(--w)) 0;
	}
	60% {
		text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0,
			calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
			calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0,
			calc(-7 * var(--w)) 0 yellow, calc(-8 * var(--w)) 0 #ffa516,
			calc(-9 * var(--w)) 0 red;
	}
	80% {
		text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0 yellow,
			calc(-3 * var(--w)) 0 #63fff4, calc(-4 * var(--w)) 0 #ffa516,
			calc(-5 * var(--w)) 0 red, calc(-6 * var(--w)) 0, calc(-7 * var(--w)) 0 grey,
			calc(-8 * var(--w)) 0 #63fff4, calc(-9 * var(--w)) 0;
	}
}
